.footer {
  width: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  color: #fff;
  padding: 10px;
  position: fixed; /* change to fixed */
  justify-content: center;
  bottom: 0;
  left: 0; /* add left property */
  right: 0; /* add right property */
}

.footer-content {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.footer-section {
  width: 20%;
}

h4 {
  margin-bottom: 20px;
}

p {
  margin-bottom: 10px;
}
