
form {
  font-family: Arial;
  border: 1px solid #ccc;
  background-color: #f7f7f7;
  max-width: 500px;
  padding: 20px;
  margin: 50px auto;
  box-shadow: 0px 2px 4px grey;



}


form label {
  display: block;
  margin-bottom: 5px;
}


form input[type="text"],
form input[type="number"],
form select {
  display: block;
  margin-bottom: 10px;
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 3px;
  box-sizing: border-box;
}


form button {
  background-color: cadetblue;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}


form button[disabled] {
  background-color: #ccc;
  cursor: default;
}
