
.table {
  font-family: Arial;
  border-collapse: collapse;
  width: 80%;
  margin: 50px auto;
}


.table th {
  background-color: cornflowerblue;
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}


.table td {
  border: 1px solid #ddd;
  padding: 8px;
  background-color: white;
}


.table tr:nth-child(even) {
  background-color: #f2f2f2;
}
