body {
  background-image: url("../../Images/gettyimages-200199027-001-b5fb3d8d8469ab744d9e97706fa67bc5c0e4fa40.jpg");
  background-repeat: no-repeat;
  background-size: 30% ;
  background-position-x: 50% ;
  background-position-y: 99%;
  height: 350px;
}
